apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: github-tests-java-quarkus-avjwsiht
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/github-tests-java-quarkus-avjwsiht:76919c7c264209ab00fe59e8c618fee2d83f0dae@sha256:e0aab6b72ef657046bd0324a3bd8e8cb68ee50af2ff0f4b56b6d309a9b279a99
          name: container-image
